body {
    background: #7B8B76;
    /* background: #FFFFFF; */
    padding: 0 0px;
    color: white; /* Change my color to yellow */
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column;
  }
  
  div{
    display: flex;
    position: relative;
    padding: 0em;
    margin: 0em;
  }

  img{
    padding: 0em;
    margin: 0em;
  }

  button, .btn{
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline;
    font-size: 4vw;
  }

  a:link{
    color: black;
  }

  a:visited{
    color: black;
  }

  a:hover{
    color: gray;
  }