body {
    background: #7B8B76;
    padding: 0 0px;
    color: white; /* Change my color to yellow */
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column;
  }